<section class="product-detail-default">
  <loadingindicator ng-show="loadingIndicator" title="{{'Please wait while we fetch product information' | r | xlat}}" />
  
  <productnav product="LineItem.Product" variant="LineItem.Variant" />
  
  <div class="col-md-4 col-collapse" aria-label="Product Media">
    <div class="fixedProductImage" ng-controller="LightboxCtrl">
      <productlightbox></productlightbox>
    </div>
  </div>
  
  <div class="col-md-7 col-md-offset-1 col-collapse">
    <header class="row">
      <div class="col-xs-12">
        <h2 id="451qa_prod_name" style="font-weight: 700; margin-top: 0; color: #231f20;">
          {{LineItem.Product.Name}}
        </h2>
        <h4 ng-show="LineItem.Product.ExternalID" class="text-muted" style="letter-spacing: 0.5px; margin-bottom: 20px;">
          {{'ITEM #' | r | xlat}} {{LineItem.Product.ExternalID}}
        </h4>
      </div>
    </header>
    
    <div role="alert" aria-labelledby="mto-heading" style="background-color: #fdf8e2; border-left: 4px solid #f0ad4e; padding: 20px; margin-bottom: 25px; border-radius: 4px;">
      <h4 id="mto-heading" style="margin-top: 0; font-weight: bold; color: #b07010; text-transform: uppercase; letter-spacing: 0.5px;">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'Made-To-Order Item Disclosure' | r | xlat}}
      </h4>
      <p class="text-justify" style="color: #615743; line-height: 1.5;">
        The {{LineItem.Product.Name}} is part of our Made-To-Order (MTO) program and is not stocked. Any questions or concerns, please don't hesitate to reach out to us M-F, between the hours of 8a – 4:30p EST, at 855.444.0847 or email us at <a href="mailto:service@nationalservicegear.org?subject=AmeriCorps%20Item%20{{LineItem.Product.ExternalID}}%20Inquiry" style="color: #b07010; font-weight: bold; text-decoration: underline;">service@nationalservicegear.org</a>. Please keep in mind that all sales are final on MTO items unless there is a defect - all defects should be made known within 5 business days of receiving your item.
      </p>
      
      <hr style="border-top: 1px solid #f6e6be; margin: 15px 0;" />
      
      <div class="row">
        <div class="col-sm-5 text-center" style="border-right: 1px solid #f6e6be;">
          <h5 style="text-transform: uppercase; letter-spacing: 1px; margin-bottom: 5px; color: #615743;">Expected Lead Time</h5>
          <h3 style="margin: 0; font-weight: 800; color: #231f20;">10-15 BUSINESS DAYS</h3>
        </div>
        <div class="col-sm-7" style="padding-left: 25px;">
          <p style="font-weight: bold; margin-bottom: 5px; color: #615743;">How Lead Time is Calculated:</p>
          <ul style="padding-left: 15px; margin-bottom: 0; color: #615743;">
            <li style="margin-bottom: 4px;"><strong style="color: #231f20;">New Orders (Art Required):</strong> Begins upon final art approval.</li>
            <li><strong style="color: #231f20;">Re-Orders (Existing Art):</strong> Begins upon date of purchase.</li>
          </ul>
        </div>
      </div>
    </div>
    
    <section aria-label="Product Description" style="margin-bottom: 30px;">
      <h5 style="text-transform: uppercase; font-weight: 700; letter-spacing: 1px; color: #777; border-bottom: 2px solid #eee; padding-bottom: 8px; margin-bottom: 15px;">
        {{'Description' | r | xlat}}
      </h5>
      <div id="451_area_prod_desc" style="line-height: 1.6; color: #444;">
        <div class="prod-desc-list-style" id="451qa_prod_desc" ng-bind-html="trustedDescription(LineItem.Product)"></div>
        <div class="prod-desc-list-style" ng-show="LineItem.Variant.Description" ng-bind-html="trustedDescription(LineItem.Variant)"></div>
      </div>
    </section>
    
    <section aria-label="Sizing Information" ng-if="LineItem.Product.StaticSpecGroups.Sizing.Specs.SizeChart.Value" style="margin-bottom: 30px;">
      <h5 style="text-transform: uppercase; font-weight: 700; letter-spacing: 1px; color: #777; border-bottom: 2px solid #eee; padding-bottom: 8px; margin-bottom: 15px;">
        {{'Sizing & Measurements' | r | xlat}}
      </h5>
      <div ng-include="'partials/SizeCharts/' + LineItem.Product.StaticSpecGroups.Sizing.Specs.SizeChart.Value + '.html'"></div>
    </section>
    
    <staticspecstable ng-show="StaticSpecGroups && user.Permissions.contains('ViewNonCustomizableSpecs')" specgroups="StaticSpecGroups" length="LineItem.Product.StaticSpecLength" />
    
    <form name="addToOrderForm" novalidate="">
      <div style="background: #ffffff; border: 1px solid #e3e3e3; border-radius: 4px; padding: 25px; box-shadow: 0 1px 3px rgba(0,0,0,0.05);">
        
        <div style="margin-bottom: 25px;" ng-if="!(user.Permissions.contains('HidePricing')) && LineItem.PriceSchedule.PriceBreaks.length > 1" aria-label="Volume Pricing Tiers">
          <h5 style="text-transform: uppercase; font-weight: 700; letter-spacing: 1px; color: #31708f; margin-top: 0; margin-bottom: 12px;">
            <i class="fa fa-tags" aria-hidden="true"></i> {{'Volume Discount Pricing' | r | xlat}}
          </h5>
          <div class="table-responsive">
            <table class="table table-bordered table-striped" style="margin-bottom: 0; background-color: #fafafa;">
              <thead>
                <tr style="background-color: #f0f7fa;">
                  <th class="text-center" style="color: #31708f; font-weight: 600; font-size: 14px;">{{'Quantity' | r | xlat}}</th>
                  <th class="text-center" style="color: #31708f; font-weight: 600; font-size: 14px;">{{'Price Per Unit' | r | xlat}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="break in LineItem.PriceSchedule.PriceBreaks">
                  <td class="text-center" style="font-weight: bold; color: #333;">
                    {{break.Quantity}} <span ng-if="LineItem.PriceSchedule.PriceBreaks[$index+1]">- {{LineItem.PriceSchedule.PriceBreaks[$index+1].Quantity - 1}}</span><span ng-if="!LineItem.PriceSchedule.PriceBreaks[$index+1]">+</span>
                  </td>
                  <td class="text-center" style="font-weight: bold; color: #3c763d;">
                    {{break.Price | culturecurrency}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="alert alert-danger" role="alert" ng-show="(!allowAddToOrder && !canCreateVariant && (!allowAddFromVariantList && (LineItem.Product.Variants.length == 0 || LineItem.Variant)))">
          <p>
            <i class="fa fa-ban" aria-hidden="true"></i>
            {{'Your current order does not allow this product to be added to your cart' | r | xlat}}
          </p>
        </div>
        
        <div ng-if="!LineItem.Variant">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-xs-9" ng-show="(allowAddToOrder && LineItem.Product.Variants.length > 0) || canCreateVariant">
              <h4 style="margin: 0; font-weight: 600; color: #231f20;">
                {{('Select' | r) + ' ' + ('Options' | r) | xlat}}
              </h4>
            </div>
            <div class="col-xs-3" ng-show="canCreateVariant">
              <button type="button" ng-show="!LineItem.Variant" class="btn btn-info pull-right" redirect="/product/{{LineItem.Product.InteropID}}/new/edit" tabindex="-1">
                {{'Create New' | r | xlat}}
              </button>
            </div>
          </div>
          
          <div class="view-form-icon" ng-if="LineItem.Product.VariantCount > settings.pageSize || searchTerm" style="margin-bottom: 15px;">
            <div class="input-group">
              <label for="variantSearchInput" class="sr-only">{{'Search choices' | r | xlat}}</label>
              <input id="variantSearchInput" ng-model="searchTerm" type="text" class="form-control" placeholder="{{'Search choices...' | r | xlat}}" />
              <i class="fa fa-search" aria-hidden="true"></i>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="searchVariants(searchTerm)">{{'Search' | r | xlat}}</button>
              </div>
            </div>
          </div>
          
          <div class="product-variants">
            <ul id="451qa_list_variants" class="list-unstyled">
              <loadingindicator ng-show="searchIndicator" />
              <li ng-repeat="v in LineItem.Product.Variants | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize" style="border-bottom: 1px solid #eee; padding: 12px 0;">
                <div class="row style-alignment">
                  <a ng-class="{'col-sm-6': allowAddFromVariantList, 'col-sm-11': !allowAddFromVariantList }" href="#/product/{{LineItem.Product.InteropID}}/{{v.InteropID}}" style="text-decoration: none; color: inherit;" aria-label="View details for variant {{v.ExternalID}}">
                    <h5 style="margin: 0 0 5px 0; font-weight: bold; color: #333;">{{v.ExternalID}}</h5>
                    <div ng-show="v.Description" ng-bind-html="trustedDescription(v)" style="margin: 0; color: #666; font-size: 13px;"></div>
                    <p ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory" style="margin: 5px 0 0 0; font-size: 12px; font-weight: bold;" ng-class="v.QuantityAvailable > 0 ? 'text-success' : 'text-danger'">
                      {{'Stock Available' | r | xlat}}: {{v.QuantityAvailable}}
                    </p>
                  </a>
                  <div class="col-sm-2" ng-show="allowAddFromVariantList && !(user.Permissions.contains('HidePricing'))">
                    <div class="quantity-total-variants text-center" ng-show="variantLineItems[v.InteropID].LineTotal > 0">
                      <small><span class="text-muted">{{'Total' | r | xlat}}</span><br /><span class="text-success" style="font-weight: bold;">{{variantLineItems[v.InteropID].LineTotal | culturecurrency}}</span></small>
                    </div>
                  </div>
                  <div class="col-sm-3 view-form-icon" ng-show="allowAddFromVariantList">
                    <quantityfield required="false" calculated="calcVariantLineItems" lineitem="variantLineItems[v.InteropID]" class="quantity" />
                  </div>
                  <div class="col-sm-1" ng-show="v.IsMpowerVariant">
                    <button type="button" ng-click="deleteVariant(v, false)" class="btn btn-link btn-block" style="color: #d9534f;" aria-label="Delete variant">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          
          <div ng-show="LineItem.Product.VariantCount > settings.pageSize">
            <pagination ng-change="paged()" ng-model="settings.currentPage" page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="LineItem.Product.VariantCount" items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
          </div>
        </div>
        
        <ordertypeselector ng-show="(canAddToStandardOrder && canAddToReplenishmentOrder && !currentOrder.ID)"></ordertypeselector>
        
        <div aria-label="Product Matrix Ordering Grid">
          <productmatrix matrixitem="LineItem"></productmatrix>
        </div>
      </div>
    </form>
    
    <relatedproducts ng-if="LineItem.Product.RelatedProductsGroupID" relatedgroupid="LineItem.Product.RelatedProductsGroupID" style="margin-top: 30px;" />
  </div>
  
  <div class="navbar-fixed-bottom" role="alert" aria-live="assertive">
    <div class="view-error-message" ng-show="showAddToCartErrors && lineItemErrors.length > 0">
      <ul class="alert-warning list-unstyled" style="padding: 15px; margin: 0; box-shadow: 0 -2px 10px rgba(0,0,0,0.1);">
        <li class="text-center" style="margin-bottom: 10px;">
          <span class="badge" style="background-color: #d9534f; font-size: 14px;">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{lineItemErrors.length}} Attention Required
          </span>
        </li>
        <li class="text-center">
          <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }" class="list-unstyled">
            <li ng-repeat="e in lineItemErrors" style="font-weight: bold; margin-bottom: 4px;">{{e | xlat}}</li>
            <li ng-show="variantLineItems[v.InteropID].qtyError" style="font-weight: bold;">{{variantLineItems[v.InteropID].qtyError}}</li>
          </ul>
        </li>
        <li class="text-center" ng-show="lineItemErrors.length > 1">
          <a>
            <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
            <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>