<section class="product-detail-default" aria-label="Product Detail">
  <loadingindicator ng-show="loadingIndicator" title="{{'Please wait while we fetch product information' | r | xlat}}" />
  <!-- BREADCRUMB!-->
  <productnav product="LineItem.Product" variant="LineItem.Variant" />
  <!-- PRODUCT IMAGE PANEL!-->
  <div class="col-md-4 col-collapse">
    <!-- Needed for larger size screens w/ fixed, scrollable image -->
    <div class="fixedProductImage panel panel-default hidden-xs hidden-sm" ng-controller="LightboxCtrl" role="region" aria-label="Product Image Gallery">
      <productlightbox></productlightbox>
    </div>
    <!-- Needed for smaller screens, no fixed or scrollable image -->
    <div class="panel panel-default hidden-md hidden-lg" ng-controller="LightboxCtrl" role="region" aria-label="Product Image Gallery Mobile">
      <productlightbox></productlightbox>
    </div>
  </div>
  <div class="col-md-7 col-md-offset-1 col-collapse">
    <!-- PRODUCT INFO!-->
    <div class="row">
      <div class="col-xs-12">
        <h1 id="451qa_prod_name" ng-hide="LineItem.Variant.ExternalID" class="product-name">
          {{LineItem.Product.Name}}
        </h1>
        <h1 ng-show="LineItem.Variant.ExternalID" class="product-name">
          {{LineItem.Product.Name}}
        </h1>
        <!-- <h2 class="text-success" ng-show="LineItem.PriceSchedule.PriceBreaks.length == 1" ng-if="!(user.Permissions.contains('HidePricing'))">
          {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
        </h2> -->
      </div>
    </div>
    <!-- Add DISCLAIMER Here -->
    <!-- Made-To-Order Disclosure Panel: Critical business logic for MTO items -->
    <div class="panel panel-primary" role="region" aria-labelledby="mto-disclosure-heading">
      <div class="alert-message">
        <h2 id="mto-disclosure-heading" class="panel-title panel-primary">
          {{'Made-To-Order Item Disclosure' | r | xlat}}
        </h2>
      </div>
      <div class="panel-body">
        <p class="text-justify mto-description">
          The {{LineItem.Product.Name}} is part of our Made-To-Order (MTO) program and is not stocked. Any questions or concerns, please don't hesitate to reach out to us M-F, between the hours of 8a – 4:30p EST, at 855.444.0847 or email us at <a href="mailto:service@nationalservicegear.org?subject=AmeriCorps%20Item%20{{LineItem.Product.ExternalID}}%20Inquiry">service@nationalservicegear.org</a>. Please keep in mind that all sales are final on MTO items unless there is a defect - all defects should be made known within 5 business days of receiving your item.
        </p>
        <h3 class="text-center shipping-details-heading">
          <strong>SHIPPING DETAILS</strong>
        </h3>
        <p class="text-center lead-time-label">Expected Lead Date:</p>
        <p class="text-center lead-time-value"><strong>15-20 BUSINESS DAYS</strong></p>
        <div class="bullet-list mto-leadtime-info">
          <p class="leadtime-intro">How the Lead Time is Calculated:</p>
          <ul>
            <li>
              <strong>New Orders (Art Required):</strong> 
              Lead time begins upon the date of <strong>final art approval</strong>.
            </li>
            <li>
              <strong>Re-Orders (Existing Art):</strong> 
              Lead time begins upon the date of <strong>purchase</strong>.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End DISCLAIMER -->
    <!-- PRODUCT DESCRIPTION PANEL! --->
    <div>
      <div class="panel panel-primary" role="region" aria-labelledby="desc-panel-heading">
        <div class="panel-heading">
          <h3 id="desc-panel-heading" class="panel-title panel-primary">
            {{'Description' | r | xlat}}
          </h3>
        </div>
        <div class="panel-body" id="451_area_prod_desc">
          <p ng-show="LineItem.Product.ExternalID" class="text-info product-sku">
            <span class="sr-only">Item Number</span>
            {{'Item #' | r | xlat}} {{LineItem.Product.ExternalID}}
          </p>
          <div class="prod-desc-list-style" id="451qa_prod_desc" ng-bind-html="trustedDescription(LineItem.Product)"></div>
          <div class="prod-desc-list-style" ng-show="LineItem.Variant.Description" ng-bind-html="trustedDescription(LineItem.Variant)"></div>
        </div>
        <!-- PRICE SCHEDULE PANEL! --->
        <priceScheduleTable ng-if="!(user.Permissions.contains('HidePricing')) && LineItem.PriceSchedule.PriceBreaks.length > 1" ps='LineItem.PriceSchedule' p='LineItem.Product' />
      </div>
    </div>
    <!-- STATIC SPECS PANEL! -->
    <staticspecstable ng-show="StaticSpecGroups && user.Permissions.contains('ViewNonCustomizableSpecs')" specgroups="StaticSpecGroups" length="LineItem.Product.StaticSpecLength" />
    <!-- ORDER PANEL! -->
    <form name="addToOrderForm" novalidate="" aria-label="Add to Order Form">
      <div class="panel panel-default">
        <div class="panel-heading" ng-if="allowAddToOrder">
          <h3 class="panel-title">
            {{'Order' | r | xlat}}
          </h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-danger" ng-show="(!allowAddToOrder && !canCreateVariant && (!allowAddFromVariantList && (LineItem.Product.Variants.length == 0 || LineItem.Variant)))" role="alert" aria-live="polite">
            <p>
              <i class="fa fa-ban" aria-hidden="true"></i>
              {{'Your current order does not allow this product to be added to your cart' | r | xlat}}
            </p>
          </div>
          <!-- VARIANT LIST! -->
          <div ng-if="!LineItem.Variant">
            <div class="row">
              <div class="panel-title col-xs-9" ng-show="(allowAddToOrder && LineItem.Product.Variants.length > 0) || canCreateVariant">
                <h4 class="text-info">
                  {{('Product' | r) + ' ' + ('Variants' | r) | xlat}}
                </h4>
              </div>
              <div class="col-xs-3" ng-show="canCreateVariant">
                <button type="button" ng-show="!LineItem.Variant" class="btn btn-info pull-right" redirect="/product/{{LineItem.Product.InteropID}}/new/edit" tabindex="-1">
                  {{'Create New' | r | xlat}}
                </button>
              </div>
            </div>
            <div class="view-form-icon" ng-if="LineItem.Product.VariantCount > settings.pageSize || searchTerm">
              <div>
                <div class="input-group">
                  <input ng-model="searchTerm" type="text" class="form-control" placeholder="{{'Search' | r | xlat}}" aria-label="{{'Search Variants' | r | xlat}}" />
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="searchVariants(searchTerm)">{{'Search' | r | xlat}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-variants">
              <ul id="451qa_list_variants" role="list" aria-label="Product Variants">
                <loadingindicator ng-show="searchIndicator" />
                <li ng-repeat="v in LineItem.Product.Variants | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize" role="listitem">
                  <div class="row">
                    <a ng-class="{'col-sm-6': allowAddFromVariantList, 'col-sm-11': !allowAddFromVariantList }" href="#/product/{{LineItem.Product.InteropID}}/{{v.InteropID}}">
                      <h5>
                        <strong>{{v.ExternalID}}</strong>
                      </h5>
                      <p ng-show="v.Description" ng-bind-html="trustedDescription(v)"></p>
                      <p ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">
                        {{'Quantity Available' | r | xlat}}: {{v.QuantityAvailable}}
                      </p>
                    </a>
                    <div class="col-sm-2" ng-show="allowAddFromVariantList && !(user.Permissions.contains('HidePricing'))">
                      <div class="quantity-total-variants text-center" ng-show="variantLineItems[v.InteropID].LineTotal > 0">
                        <small>
                          <span class="text-info">{{'Total' | r | xlat}}</span><br />
                          <span class="text-success">{{variantLineItems[v.InteropID].LineTotal | culturecurrency}}</span>
                        </small>
                      </div>
                    </div>
                    <div class="col-sm-3 view-form-icon" ng-show="allowAddFromVariantList">
                      <quantityfield required="false" calculated="calcVariantLineItems" lineitem="variantLineItems[v.InteropID]" class="quantity" />
                    </div>
                    <div class="col-sm-1" ng-show="v.IsMpowerVariant">
                      <button type="button" ng-click="deleteVariant(v, false)" class="btn btn-default btn-block" aria-label="{{'Delete Variant' | r | xlat}}">
                        <i class="fa fa-trash-o text-warning" aria-hidden="true"></i> <span class="visible-xs text-warning">{{'Delete' | r | xlat}}</span>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="LineItem.Product.VariantCount > settings.pageSize">
              <pagination ng-change="paged()" ng-model="settings.currentPage" page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="LineItem.Product.VariantCount" items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
            </div>
          </div>
          <ordertypeselector ng-show="(canAddToStandardOrder && canAddToReplenishmentOrder && !currentOrder.ID)"></ordertypeselector>
          <productmatrix matrixitem="LineItem"></productmatrix>
          <!-- End with this for Matrix -->
        </div>
      </div>
    </form>
    <!-- RELATED PRODUCTS! -->
    <relatedproducts ng-if="LineItem.Product.RelatedProductsGroupID" relatedgroupid="LineItem.Product.RelatedProductsGroupID" />
  </div>
  <!-- ERROR MESSAGING! -->
  <div class="navbar-fixed-bottom">
    <div class="view-error-message" ng-show="showAddToCartErrors && lineItemErrors.length > 0" role="alert" aria-live="assertive">
      <ul class="alert-warning">
        <li class="text-center">
          <span class="badge">
            <i class="fa fa-exclamation-circle fa-inverse" aria-hidden="true"></i>
            {{lineItemErrors.length}}
          </span>
        </li>
        <li class="text-center">
          <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
            <li class="alert-warning" ng-repeat="e in lineItemErrors">{{e | xlat}}</li>
            <li class="alert-warning" ng-show="variantLineItems[v.InteropID].qtyError">{{variantLineItems[v.InteropID].qtyError}}</li>
          </ul>
        </li>
        <li class="text-center">
          <a ng-show="lineItemErrors.length > 1" href="#" aria-label="{{'Toggle error details' | r | xlat}}">
            <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'" aria-hidden="true"></i>
            <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>